<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>

<footer th:fragment="footer" class="bg-primary text-light text-center py-3 mt-4">
    <p class="mb-1">&copy; 2025 ExchangeMate.</p>
    <p class="mb-0">
        Exchange rates provided by
        <a href="https://exchangerate.host/" class="text-light text-decoration-none" target="_blank">
            exchangerate.host
        </a>
    </p>
    <p class="mb-0">
        View on GitHub:
        <a href="https://github.com/penguinjava" class="text-light text-decoration-none" target="_blank">
            GitHub Repository
        </a>
</footer>

</body>
</html>