<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>historyGraph</title>
</head>
<body>
<div th:fragment="maingraph">

    <!-- 날짜 선택 -->
    <label for="startDate">시작 날짜:</label>
    <input type="date" id="startDate" value="2024-03-01">

    <label for="endDate">끝 날짜:</label>
    <input type="date" id="endDate" value="2024-03-07">

    <!-- 통화 선택 -->
    <select id="fromCurrency">
        <option value="KRW">KRW</option>
        <option value="USD">USD</option>
    </select>

    <select id="toCurrency">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
    </select>

    <!-- 그래프 -->
    <canvas id="exchangeRateChart"></canvas>

</div>

<div th:fragment="graph" class="border border-primary rounded-3 p-3 container mt-3">
    <!-- 그래프 -->
    <canvas id="rateChart"></canvas>
</div>

</body>
</html>